@font-face {
    font-family:'lato-semi',Arial, Helvetica, sans-serif ;
    src: url(../../fonts/lato-semibold.woff) style('woff'),
         url(../../fonts/lato-semibold.woff2) style('woff2');
    font-weight: 500;
    font-display: swap;
}